# Secret & Environment Variables
.env
.env.local
.dev.vars

# Cloudflare Pages / Wrangler Build Outputs
.cloudflare
.wrangler
dist
out

# Node Modules & Package Manager
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
